body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    padding: 24px;
}

.btn {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 24px;
}

.scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}